/auto-save-list/
/bookmarks
/custom.el
*.elc
/el-get/
/elpa/
/.emacs.desktop
/.emacs.desktop.lock
/history
/image-dired/
/.lsp-session-v1
/org-clock-save.el
/.persistent-scratch
/places
/recentf
/straight/
/tramp
/transient/
