*.elc
*~

/auto-save-list/
/bookmarks
/custom.el
/el-get/
/elpa/
/.emacs.desktop
/.emacs.desktop.lock
/eshell/
/history
/image-dired/
/.lsp-session-v1
/org-clock-save.el
/.persistent-scratch
/places
/recentf
/tramp
/transient/
